In [10]:
# 교재 page 300, 리스트 컴프리헨션 list comprehension 표현식을 사용해 리스트의 요소를 만듬
# a  = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
a = [i+2 for i in range(10)] #0부터 9까지 숫자를 생성하여 리스트 생성
print(type(a))
print(a)

<class 'list'>
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
a = [i for i in range(10) if i % 2 ==0] #0-9숫자 중 2의 배수인 숫자(짝수)로
a  #리스트 생성

[0, 2, 4, 6, 8]

In [17]:
#unit22.6 리스트에 map 사용하기
# 실수형으로 구성된 리스트 각 요소를 추출하여 정수형으로 변환하고 정수형 리스트를 구성
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)): #for 에 range(len(a))를 사용해 인덱스 가져옴
    a[i] = int(a[i])   # 가져온 요소 하나하나에 int로 변환하여 다시 저장
print(a)

[1, 2, 3, 4]

In [19]:
# 위 작업을, list(ma()) 함수를 사용하여 동일하게 구성할 수 있음.
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int,a)) #map에 int와 리스트를 넣으면 리스트이 모든 요소를 int 사용해 변환, 그 다음 list사용해 map의 결과를 다시 리스트로 
print(a)

[1, 2, 3, 4]

In [23]:
# 22.6.1 input().split() 과 map
a = map(int, input("여러개의 숫자를 입력 해 보세용").split(" "))
print(type(a))
print(list(a))

여러개의 숫자를 입력 해 보세용1 2 3 4
<class 'map'>
[1, 2, 3, 4]

In [25]:
x = input().split() #input().split()의 결과는 문자열 리스트
m = map(int, x)
a, b = m

1 3

In [27]:
# 교재 315page
# 반복문으로 2차원 리스트 요소를 모두 출력
# 방법1. 한번의 for loop 사용
a = [[10,20], [30,40],[50,60]] # 3행 2열의 2차원 리스트 , 리스트의 가로 한 줄(안쪽리스트)에서 요소 두개를 꺼냄
for x, y in a:
    print(x, y)

10 20
30 40
50 60

In [31]:
# 방법2. 중첩 for loop 사용
a = [[10,20,9], [30],[50,60]] 
for i in a: # a 에서 안쪽 리스트를 꺼냄
    for j in i : # 안쪽 리스트에서 요소를 하나씩 꺼냄
        print(j, end='  ')
    print()

10  20  9
30
50  60

In [33]:
#page317 
#two_dimensional_list_for_for_range.py
a = [[10, 20],[30, 40], [50, 60]]
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end=' ')
    print()

10 20
30 40
50 60

In [38]:
'hello,world'.replace('world','python')
s = 'hello,world'
s = s.replace('world', 'python')
s

'hello,python'

In [42]:
#교재 358, Unit25 딕셔너리 응용
#1. 키-값 쌍 추가
# setdefault : 키-값 쌍 (무조건) 추가
# update : 키의 값 수정, 없으면 추가
x = {'a': 10, 'b':20, 'c':30, 'd':40}
print(type(x))
print(x)
# 새로운 키-값 쌍을 추가
x.setdefault('e',50)
print(x)

<class 'dict'>
{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [44]:
# 새로운 키 값 쌍을 추가, 키만 명시....값은 None을 저장한다
x.setdefault('f')
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': None}

In [46]:
x.setdefault('e',50)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': None}

In [49]:
x.update(e=500) # update(key=value)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 500, 'f': None}

In [50]:
x.update(g=70)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 500, 'f': None, 'g': 70}

In [51]:
x.setdefault('e',777777)
print(x)
#setdefault는 집어넣어주는 역만 함 수정이 불가함

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 500, 'f': None, 'g': 70}

In [52]:
#361page
#딕셔너리에서 키-값 쌍 삭제
temp=x.pop('g')  # pop(키)
print(x)
print(temp)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 500, 'f': None}
70

In [54]:
# popitem : 파이썬 3.6이상에서는 마지막 키-값 쌍을 삭제 *3.5이하에서는 임의의 키-값쌍을 삭제
print(x)
x.popitem()
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 500}
{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [55]:
# 딕셔너리 키-값 쌍 모두 삭제
print(x)
x.clear()
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{}

In [60]:
# 키의 값을 반환
x = {'a': 10, 'b':20, 'c':30, 'd':40}
#temp=(x.get('a')) #키를 이용해서 값을 반환
#temp=x.items()  # 키와 값의 모든 쌍을 반환
#temp=x.keys() # 키 들의 리스트를 반환
temp=x.values() # 값 리스트를 반환
print(temp)

dict_values([10, 20, 30, 40])

In [65]:
# 리스트와 튜플로 딕셔너리 만들기  p.363
keys = ['a', 'b', 'c', 'd']
values= [10, 20, 30, 40]
x = dict.fromkeys(keys, 100)
print(x)

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

In [66]:
terrestrial_planet= {
    'Mercury':{
        'mean_radius': 2439.7,
        'mass' : 3.3.22e+23,
        'orbiral_period' : 87.969
    },
    'venus': {
        'mean_radius':6051.8,
        'mass' : 4.86876e+24,
        'orbiral_period': 224.70069,
    },
    'earth':{
        'mean_radius':6371.0,
        'mass':5.97219e+24,
        'orbital_period':365.25641,
    },
    'mars':{
        'mean_radius':3389.5,
        'mass':6.4185e+23,
        'orbital_period':686.9600,
    }
    
}
print(terrewstrial_planet['venus']['mean_radius'])

SyntaxError: invalid syntax (<ipython-input-66-9a4e25f5991f>, line 4)

In [68]:
# set
s= {1,2,3,4,4,5,5,5,6} # s=set()
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [71]:
a= {1,2,3,4}
b= {3,4,5,6}
print(a.union(b)) #set.union(a,b)
print(a.intersection(b)) #교집합 #set.intersection(a,b),#
print(a.difference(b)) #차집합 : 누가 메인이 되느냐에 따라 답이 달라짐 유의 #set.defferrence(a,b),-

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}