In [2]:
# print() format 설정
name = input("이름을 입력해주세요")
birthYear = int(input("생년을 입력해주세요."))
age = 2021 - birthYear
print(name, age)
print(name + "님의 나이는" + str(age) + "세 입니다.")

이름을 입력해주세요수아
생년을 입력해주세요.1989
수아 32
수아님의 나이는32세 입니다.

In [4]:
print(f'{name}님의 나이는 {age}세 입니다')

수아님의 나이는 32세 입니다

In [10]:
print('{1}님의 나이는 {0}세 입니다'.format(name, age))

32님의 나이는 수아세 입니다

##### 선생님이 올리신 자습서  7.1 장식적인 출력 포매팅 참고 (교재에 없는 내용)
- f 사용 
- 값 나중에 써서 앞에 수식에 대입시키기.
- 포맷 잡아줄 때 인덱스번호를 부여하지 않으면 값은 순서대로 지정됨.
- 포맷 잡아줄 때 집합괄호를{} 이용하고 인덱스 번호를 지정 해 주면 format 뒤에 있는 변수의 값을 지정 해 줄 수 있음

In [14]:
# 문자열 : '   '또는 "  " 로 감싼 여러개의 문자
# "korea", "python"
print("korea", 'python')
print(type("korea"), type('python'))

korea python
<class 'str'> <class 'str'>

In [ ]:
print("나의 이름은 '홍길동'입니다.")
print('나의 이름은 "홍길동"입니다.')
#더블쿼트 안에 싱글쿼트는 강조의 의미로 사용 가능 ; 교차로 사용해도 같음

In [20]:
print('나의 이름은\'홍길동\' 입니다.')
#더블쿼트 안 더블쿼트 or 싱글쿼트 안 싱글쿼트는 사용불가 => 사용하고싶으면 앞뒤로 \를 사용
#역슬레쉬를 사용하면 \는 특수문자로서 \안에있는 것을 문자로 변환

나의 이름은'홍길동' 입니다.

In [1]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [2]:
#모르는거 help입력해서 물어보기

In [4]:
copyright()

Copyright (c) 2001-2021 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.

In [6]:
license()

See https://www.python.org/psf/license/

In [9]:
import keyword as kwd
kwd.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
a= [22, 77, 90, 10]
a

[22, 77, 90, 10]

# Day03 - Unit 리스트와 튜플 사용하기

In [14]:
# 리스트 : 목록, 데이터 여러개를 늘어놓다, 나열하다,,,
# C, C++, Java와 같은 언어에서는 배열 array 이라고 하기도 함.

# 리스트 생성하기
# 리스트변수 = [값 나열...] 
# 리스트변수 = list() <-is this 

lst1 = [10, 20, 30]
print(type(lst1))
print(lst1)

<class 'list'>
[10, 20, 30]

In [16]:
lst2 = [1,2,3,'korea', True, 10, 39]
print(lst2)

[1, 2, 3, 'korea', True, 10, 39]

In [19]:
lst3 = list()
print(type(lst3))
print(lst3)

<class 'list'>
[]

In [23]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [26]:
print(list(range(5, 10, 2)))

[5, 7, 9]

In [29]:
lst4 = list(range(1, 101))
print(lst4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [31]:
# 튜플 사용하기
# list와 비슷하지만, 튜플은 (    ) 둥근괄호를 사용하고 
# 추가, 삭제, 수정이 불가능함
tpl1 = (1,2,3)
a = 4,5,6
tpl2 = tuple(a)
print(type(tpl1))
print(type(tpl2))
print(tpl1)
print(tpl2)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3)
(4, 5, 6)

In [36]:
lst1 = [1,2,3,5]
print(lst1)
lst1.append(6)      # 리스트타입변수에 대해 적용가능한 함수리스트는 . 찍고 tap키를 눌러본다.
# 함수의 의미는 shift + tap키를 함께 눌러 본다
print(lst1)

[1, 2, 3, 5]
[1, 2, 3, 5, 6]

In [38]:
lst1.insert(3, 4) #인덱스 3위치에 4를 insert 한다
print(lst1)

[1, 2, 3, 4, 4, 5, 6]

In [40]:
temp=lst1.pop()
print(lst1)
print(temp)

[1, 2, 3, 4, 4]
5

In [57]:
lst1.remove(4)
print(lst1)

[1, 2, 4]

In [52]:
lst1.reverse()
print(lst1)

[1, 2, 4, 4]

In [54]:
lst2 = [1,2,3,4,5]
print(lst2)
lst2.reverse()
print(lst2)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [58]:
lst3 = [9, 2, 4, 1, 5, 6]
print(lst3)
lst3.sort()
print(lst3)

[9, 2, 4, 1, 5, 6]
[1, 2, 4, 5, 6, 9]

In [60]:
lst4 = ['원빈','강동원','공유','송강','박서준']
lst4.sort()
print(lst4)

['강동원', '공유', '박서준', '송강', '원빈']

In [64]:
lst3.extend(lst4)
print(lst3)

[1, 2, 4, 5, 6, 9, '강동원', '공유', '박서준', '송강', '원빈', '강동원', '공유', '박서준', '송강', '원빈', '강동원', '공유', '박서준', '송강', '원빈', '강동원', '공유', '박서준', '송강', '원빈']

In [66]:
print(lst3[5])

9

In [68]:
lst3[5] = 1004
print(lst3)

[1, 2, 4, 5, 6, 1004, '강동원', '공유', '박서준', '송강', '원빈', '강동원', '공유', '박서준', '송강', '원빈', '강동원', '공유', '박서준', '송강', '원빈', '강동원', '공유', '박서준', '송강', '원빈']

In [69]:
print(lst3[6:11])
# 6이상 세미콜론 11미만 = 'slicing 을 한다 ;index를 사용해서 리스트나 튜플의 특정부분만 (잘라온다)출력

['강동원', '공유', '박서준', '송강', '원빈']

In [75]:
tpl1 = (1,2,3)
print(tpl1.count(2))
print(tpl1.index(2))

1
1

In [79]:
# 튜플은 리스트와 달리 값의 삽입, 수정, 삭제 하는 것이 불가능
# 튜플값을 삽입/수정/삭제 하려면 튜플을 리스트로 변경한 후
# 삽입/수정/삭제 하고, 다시 리스트를 튜플로 변경해야함.

tpl1=list(tpl1)
print(type(tpl1))
print(tpl1)

<class 'list'>
[1, 2, 3]

In [81]:
tpl1.append(4)
tpl1[1] = 22
tpl1=tuple(tpl1)
print(tpl1)

AttributeError: 'tuple' object has no attribute 'append'

# Unit11. 시퀀스 자료형 활용하기

In [85]:
a = [0, 10, 5, 9, 7, 15, 87, 33]
# 특정 값이 있는 지 확인 : 값 in 시퀀스객체
7 in a

True

In [88]:
print(7 not in a)

False

In [91]:
a = [1, 3, 5]
b = [2, 4, 6]
c = a + b # 리스트에 있어서 + 는 add의 의미가 아니라 concatinate 결합해서 새로운 thins가 됨
print(c)

[1, 3, 5, 2, 4, 6]

In [93]:
a * 3 # a라는 씨퀀스 객체를 3번 반복해라
# 리스트에서는 곱셈연산은 안됨. 리스트에서는 반복되어지는 횟수로 이야기됨

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [95]:
len(a) #a라는 리스트의 길이를 구함

3

In [2]:
a = list(range(999))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998]

In [1]:
#딕셔너리
# 딕셔너리 변수 = {키:값, 키2:값2, ...} 집합괄호 기호를 사용. 
# 리스트와 튜플은 값에 접근할 때 위치 값 기준을 접근. 
# 딕셔너리는 키 값을 가지고 접근함. ; 값의 의미부여를 하고 그 의미에 따라 값을 찾아감.
# 딕셔너리 변수 = dict{}

b = {"국어":100, "영어":95, "수학":98}
print(b)
print(type(b))
print(b["국어"])

{'국어': 100, '영어': 95, '수학': 98}
<class 'dict'>
100

In [5]:
b.keys()

dict_keys(['국어', '영어', '수학'])

In [6]:
b.values()

dict_values([100, 95, 98])

In [8]:
b.get("국어")

100

In [9]:
# 딕셔너리 키 이름이 중복되면?
# 제일 뒤에 있는 값만 사용함

In [11]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> pop
No Python documentation found for 'pop'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.